/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #000000 ;
  line-height: 1.6;
}

header {
  background-color: #6ab04c;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

h1, h2 {
  color: #ffffff;
}

/* Sección del inventario y materia prima */
section {
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

/* Centrado de productos y materias primas */
.inventory-list, .raw-material-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas para productos y materias primas */
  gap: 15px;
  justify-items: center;
}

.inventory-list li, .raw-material-list li {
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  text-align: center;
}

.inventory-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  align-items: center;
}

.inventory-form input, .inventory-form select, .inventory-form button {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inventory-form button {
  background-color: #27ae60;
  color: white;
  cursor: pointer;
}

.inventory-form button:hover {
  background-color: #2ecc71;
}

/* Resumen del inventario */
.inventory-summary {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
  max-width: 800px;
}

}

