/* Estilo del encabezado */
/* */
header {
  background-color: #CAAED8; /* Morado claro */
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

/* Estilo de los enlaces del menú */
header nav a {
  display: inline-block;
  background-color: #ba68c8; /* Morado más claro */
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

header nav a:hover {
  background-color: #8e24aa; /* Morado más oscuro */
}

header nav a:active {
  background-color: #6a1b9a; /* Morado profundo */
}

/* Lista de productos */
#sales-stock {
  list-style: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#sales-stock li {
  background-color: #f3e5f5; /* Fondo morado muy claro */
  border: 1px solid #e1bee7; /* Morado más oscuro para el borde */
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 16px;
  color: #333; /* Morado para el texto */
}

/* Botones (Agregar Producto y Registrar Venta) */
button {
  background-color: #ba68c8; /* Morado más claro */
  color: white;
  border: none;

  font-weight: bold;

  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #8e24aa; /* Morado más oscuro */
}

button:active {
  background-color: #6a1b9a; /* Morado profundo */
}

/* Botón "Registrar Venta" y "Agregar Producto" centrado */
form button {
  display: block;
  margin: 20px auto;
  max-width: 200px;
}
